body{
    font-family: 'Roboto', sans-serif;
}
.flexible-container{
    display:flex;
    margin-bottom: 100px;
}
.third-section-para{
    text-align: center;
}
.recipe-cover-pic{
    width:100%;
    
}
.recipe-title2{
    width:25%;
    margin-right: 5%;
    border-radius:15px;
    box-shadow: 7px 7px 20px grey;
    padding: 25px;
}
.recipe-title1{
    width:25%;
    margin-right: 5%;
    margin-left: 6%;
    box-shadow: 7px 7px 20px grey;
    border-radius: 15px;
    padding: 25px;
}
.recipe-title3{
    width:25%;
    margin-right: 5%;
    box-shadow: 7px 7px 20px grey;
    border-radius:15px;
    padding: 25px;
}
.social{
    box-shadow: 7px 7px 20px grey;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 20px;
}
.social-details{
    width:35%;
    text-align: center;
}
.food-color{
    color: coral;
}
.network-color{
    color: grey;
    margin-left: 8px;
}
footer{
    background-color: black;
    text-align: center;
    padding-top: 5px;
}